
.TrainingYard__strength {
    border: blue solid;
    padding: 5px;
    margin: 5px;
}

.TrainingYard__speed {
    border: blue solid;
    padding: 5px;
    margin: 5px;
}

.TrainingYard__constitution {
    border: blue solid;
    padding: 5px;
    margin: 5px;
}