
.heroWeaponShop__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heroWeaponShop__weapon {
    border: blue solid;
    margin: 10px;
    width: 180px;
}

.heroWeaponShop__name {
    padding: 10px 0 2px;
}

.heroWeaponShop__cost {
    padding: 2px;
}

.heroWeaponShop__damage {
    padding: 2px;
}

.heroWeaponShop__buyButton {
    margin-bottom: 10px;
}

.heroWeaponShop__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heroWeaponShop__title {
    font-weight: bolder;
    font-size: large;
}