.header__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
}
@media only screen and (max-width: 600px) {
    .header__container {
        font-size: 80%;
    }
}

.cheatButton {
    font-size: 10px;
    width: fit-content;
    text-align: left;
    padding: 0;
}
