.heroStatus__container {
    width: 15vw;
}

.heroStatus__health {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: white solid;
    height: 15%;
}

.heroStatus__weapon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: white solid;
    height: 15%;
}

.heroStatus__pet {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: white solid;
    height: 15%;
}
